body {
  text-align: center;
  background-color: #a0aecd;
}

img {
  border-radius: 33%;
  height: 340px;
  width: 525px;
}

img:hover {
  opacity: 0.7;
}

button {
  color: purple;
  background-color: aliceblue;
  border-radius: 25%;
  height: 35px;
  width: 75px;
}

button:hover {
  background-color: hotpink;
  opacity: 0.5;
}

header {
  background-color: royalblue;
  opacity: 0.5;
}

a {
  color: hotpink;
  font-size: x-large;
}

a:hover {
  color: lightpink;
}

a:active {
  color: lightblue;
}
